body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 300px;
    border: 2px solid #333;
    background-color: grey;
    padding: 20px;    
}

.display {
    height: 60px;
    background-color: white;
    color: black;
    font-size: 50px;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    box-sizing: border-box;
    font-size: 25px;
    background-color: #00f7ff;
    color: black;
}