/* *{
    background-color: bisque;
    margin: 0 auto;
}

.parent{
    border: 5px solid red;
    height: 600px;
    width: 600px;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: space-around;

}

.child{
    width: 100px;
    height: 100px;
    border: 5px solid blueviolet;
} */

body {
    font-family: Arial;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%; 
    background-color: #fff;
}

.logo {
    width: 140px;
}

.search {
    display: flex;
    align-items: center;
    width: 60%;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden; 
}

.location, .dish {
    display: flex;
    align-items: center;
    padding: 8px 12px;
}

.search input {
    border: none;
    font-size: 16px;
    width: 100%;
    color: #333;
}

.location-icon {
    color: #E23744; 
    font-size: 20px;
    margin-right: 10px;
}

.fa-caret-down, .search {
    color: #828282;
    font-size: 16px;
    margin-left: 10px;
}

.separator {
    height: 30px;
    border-left: 1px solid #e0e0e0;
}

.actions {
    display: flex;
    gap: 30px;
}

.actions a {
    text-decoration: none;
    color: grey;
    font-size: 20px;
}


.parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font: Arial;
}