
body {
    margin: 0; 
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #4a1c40;
    color: white;
    text-align: center;
    padding: 30px 20px; 
}

header h1 {
    font-size: 3rem;  
    font-weight: 700;
    margin: 0;
}

main h2 {
    font-size: 2.2rem; 
    font-weight: 500; 
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav {
    background-color: #333;
    position: sticky; 
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 25px;
    font-weight: 600;
}

nav li a:hover {
    background-color: #575757;
}

main section {

    padding: 60px 20px; 
    
    margin-bottom: 10px; 
    
    text-align: center;
    color: white;
}

main section p {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}


#temples {
    background: linear-gradient(to right, #6d2c4b, #a84a6c);
    color: #ffffff;
}


#gardens {
    background: radial-gradient(circle, #3a6b35, #20491c);
    color: #f0f0f0;
}

#culture {
    background-color: #f4f4f4; 
    color: #333;
    
    border-top: 4px solid #e0e0e0;
    border-bottom: 4px solid #e0e0e0;
}


footer {
    background-color: #333;
    color: #aaa;
    text-align: center;
    padding: 20px; 
    margin-top: 10px; 
}